# Nextflow pipeline .gitignore

# MacOS system files
.DS_Store

# Nextflow work and results directories
work/
results/

# Nextflow cache and logs
.nextflow*
*.log
*.trace
*.report
*.timeline

# Temporary files
*.tmp
*.bak
*.swp

# Python cache (if any scripts)
__pycache__/
*.pyc

# Jupyter notebooks checkpoints
.ipynb_checkpoints/

# S3 credentials or config files (if present)
.aws/

# KEEP BIN FOR CUSTOM SCRIPTS

# Ignore test data
*.test

# Ignore output VCF stats
*.vcf_stats.txt
