plugins {
    id 'nf-amazon' 
}

// Global parameters (can be overridden by profiles)
params {
    analysis_id = "default_id"
}

profiles {
    // 1. Local execution profile
    // Run with: -profile local
    local {
        aws.profile = "perso"
        
        process {
            executor = 'local'
        }

        wave.enabled = false

        weblog {
            enabled = true
            url = 'http://localhost:3000/api/analysis_logs'
        }

        params {
            publishDir = 'results'
            reference_dir = "~/references" 
        }
    }

    // 2. AWS Batch execution profile
    // Run with: -profile awsbatch
    awsbatch {
        workDir = "s3://portalseq/Analysis/${params.analysis_id}/work/"

        process {
            executor = 'awsbatch'
            queue = 'nextflow-worker-queue-ec2'
            // Mounts the NVMe scratch disk for task intermediate files
            scratch = '/scratch' 
            // Mounts the S3-Mountpoint on the host to the root of the container
            // containerOptions = "-v /mnt/references:/references" 
            
            // Conda/Wave settings
            conda = 'conda-forge::awscli'
        }

        aws {
            region = 'ap-southeast-2'
            batch {
                jobRole = System.getenv('BATCH_JOB_ROLE_ARN')
                executionRole = System.getenv('BATCH_EXECUTION_ROLE_ARN')
                
                // So my containers can see the mounted volumes
                volumes = [
                    '/mnt/references:/references:ro,rshared',
                    '/mnt/scratch:/scratch'
                ]
            }
        }

        wave {
            enabled = true
            strategy = ['conda', 'container']
        }

        params {
            publishDir = "s3://portalseq/Analysis/${params.analysis_id}/results/"
            // Inside the container, this is the absolute mount point
            reference_dir = "/references" 
        }
    }
}