plugins {
    id 'nf-amazon' 
}

// Global parameters (can be overridden by profiles)
params {
    analysis_id = "default_id"
}

profiles {
    // 1. Local execution profile
    // Run with: -profile local
    local {
        aws.profile = "perso"
        
        process {
            executor = 'local'

            // Processes that will use docker containers
             withName: 'VARIANT_CALLING_DEEPVARIANT' {
                container = "419387107450.dkr.ecr.ap-southeast-2.amazonaws.com/portalseq/deepvariant:latest"
                cpus = 2
                memory = 16.GB
            }
        }

        // Docker just for special processes 
        docker.enabled = true

        weblog {
            enabled = true
            url = 'http://localhost:3000/api/analysis_logs'
        }

        params {
            publishDir = 'results'
            reference_dir = "${System.getProperty('user.home')}/references" 
            profile_name = "local"
        }

        report {
            enabled = true
            file = "results/report_${params.analysis_id}.html"
        }

        timeline {
            enabled = true
            file = "results/timeline_${params.analysis_id}.html"
        }

        dag {
            enabled = true
            file = "results/dag_${params.analysis_id}.html"
        }

        cleanup = false
    }

    // 2. AWS Batch execution profile
    // Run with: -profile awsbatch
    awsbatch {

        workDir = "s3://portalseq/Analysis/${params.analysis_id}/work/"

        process {
            executor = 'awsbatch'
            queue = 'nextflow-worker-queue-ec2'
            // Mounts the NVMe scratch disk for task intermediate files
            scratch = '/scratch' 
            
            // Conda/Wave settings
            // conda = 'conda-forge::awscli' // remove to test if docker works 

            resourceLabels = {
                [   
                    Project: 'PortalSeq',
                    Analysis_ID: params.analysis_id
                ]
            }
        }

        aws {
            region = 'ap-southeast-2'

            batch {
                jobRole = System.getenv('BATCH_JOB_ROLE_ARN')
                executionRole = System.getenv('BATCH_EXECUTION_ROLE_ARN')
                
                // So my containers can see the mounted volumes
                volumes = [

                    '/mnt/scratch:/scratch'
                ]
            }
        }
        
        wave {
            enabled = true
            strategy = ['conda']
        }

        params {
            publishDir = "s3://portalseq/Analysis/${params.analysis_id}/results/"
            reference_dir = "s3://portalseq/references"
            profile_name = "awsbatch"
        }

        report {
            enabled = true
            file = "s3://portalseq/Analysis/${params.analysis_id}/results/report_${params.analysis_id}.html"
        }

        timeline {
            enabled = true
            file = "s3://portalseq/Analysis/${params.analysis_id}/results/timeline_${params.analysis_id}.html"
        }

        dag {
            enabled = true
            file = "s3://portalseq/Analysis/${params.analysis_id}/results/dag_${params.analysis_id}.html"
        }

        cleanup = false

        // Here declare container options for all processes 
        // TODO: Add labels instead of names to have reusable definitions 
        process {
            
            withName: 'FASTQC' {
                conda = 'bioconda::fastqc=0.12.1 conda-forge::awscli'
                memory = 8.GB
                cpus = 4
            }
            withName: 'SINGLE_FASTQ_ALIGNMENT' {
                conda = 'bioconda::bowtie2=2.5.5 bioconda::minimap2=2.30 bioconda::samtools=1.23  conda-forge::awscli'
                cpus = 4
                memory = 16.GB
            }
            withName: 'POST_ALIGNMENT_ANALYSIS' {
                conda = 'bioconda::gatk4=4.6.2.0 bioconda::samtools=1.23 conda-forge::awscli'
                cpus = 4
                memory = 16.GB
            }
            withName: 'MERGE_BAM_BY_SAMPLE_NAME' {
                conda = 'bioconda::samtools=1.23 conda-forge::awscli'
                cpus = 4
                memory = 16.GB
            }
            withName: 'VCF_STATS' {
                conda = 'bioconda::bcftools=1.23 conda-forge::awscli'
                cpus = 1
                memory = '2 GB'
            }
            withName: 'VEP_ANNOTATE' {
                conda = 'conda-forge::awscli conda install bioconda::ensembl-vep=115.2'
                cpus = 6
                memory = 16.GB
            }
            withName: 'VARIANT_CALLING_DEEPVARIANT' {
                container = "419387107450.dkr.ecr.ap-southeast-2.amazonaws.com/portalseq/deepvariant:latest" // custom deepvariant with awscli in it
                cpus = 8
                memory = 16.GB
            }
            withName: 'VARIANT_CALLING_HAPLOTYPE_CALLER' {
                conda = 'bioconda::gatk4=4.6.2.0 conda-forge::awscli'
                cpus = 4
                memory = 16.GB
            }
        }
    }
}